{% load staticfiles %}
<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, inital-scale=1.0"/>
	<title>getraenkewart.de - Homepage der Rover DPSG Stamm Kohlscheid I</title>
	<link rel = "stylesheet" type  = "text/css" href = "{% static 'css/bootstrap.min.css' %}" />
	<link rel="shortcut icon" type = "image/svg+xml" href = "{% static 'images/dpsg_lilie.svg'%}"/>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/"> getraenkewart.de</a>
			<ul class="nav">
				<li class="active"><a href="/">Start</a></li>
			</ul>
		</div>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>
