{% extends "getraenkewart/base.html" %}

{% block content %}
<h2 style="text-align:center;" >Neuen Benutzer registrieren</h2>
<form action="{% url 'register' %}" method="post" accept-charset="utf-8" role="form">
{% csrf_token %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                {% if form.first_name.errors %}
                <div class="form-group has-error col-md-6">
                {% else %}
                <div class="form-group col-md-6">
                {% endif%}
                    {{ form.first_name.label_tag}}
                    {{ form.first_name}}
                </div>
                {% if form.last_name.errors %}
                <div class="form-group has-error col-md-6">
                {% else %}
                <div class="form-group col-md-6">
                {% endif %}
                    {{ form.last_name.label_tag}}
                    {{ form.last_name}}
                </div>
            </div>
            {% if form.email.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                {{ form.email.label_tag}}
                {{ form.email}}
            </div>
            {% if form.username.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                    {{ form.username.label_tag}}
                    {{ form.username}}
            </div>
            {% if form.password.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                    {{ form.password.label_tag}}
                    {{ form.password}}
            </div>
            {% if form.password2.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}
                    {{ form.password2.label_tag}}
                    {{ form.password2}}
            </div>
            <button class="btn btn-primary" id="register-button" style="float:right;" type="submit">Registrieren</button>
        </div>
    </div>
</form>
{% endblock %}
