{% extends "getraenkewart/base.html" %}

{% load nvd3_tags %}

{% block head %}

{% load staticfiles %}

<script src="{% static 'js/nv.d3.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/d3.v3.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/nv.d3.css' %}" />

<!--{% load_chart charttype chartdata "chart_container" True "%b" %}-->

{% endblock %}

{% block content %}

{% block title %}
{% endblock %}

{% include_container "chart_container" 400 600 %}

{% endblock %}
