{% extends "getraenkewart/base.html" %}

{% block content %}

<h2 style="text-align:center;">Highscore</h2>

<div class="container">
    <ul class="pager">
        <li><a href="{%url 'highscore'%}{{year_previous}}">&laquo;</a></li>
        <li style="font-size:20px;">{{year}}</li>
        <li><a href="{%url 'highscore'%}{{year_next}}">&raquo;</a></li>
    </ul>
</div>
{% if not empty %}
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <th style="width: 7%;">Name</th><th style="width: 7%;">Gesamt</th>
            <th style="width: 7%;">Januar</th><th style="width: 7%;">Februar</th><th style="width: 7%;">März</th>
            <th style="width: 7%;">April</th><th style="width: 7%;">Mai</th><th style="width: 7%;">Juni</th>
            <th style="width: 7%;">Juli</th><th style="width: 7%;">August</th><th style="width: 7%;">September</th><th style="width: 7%;">Oktober</th>
            <th style="width: 7%;">November</th><th style="width: 7%;">Dezember</th>
            <tr>
            {% for i in personen %}
                {% for j in i %}
                <td>{{j}}</td>
                {% endfor %}
                <tr>
            {% endfor %}
        </table>
    </div>
</div>

{% else %}
<div style="text-align:center;">Für dieses Jahr sind leider keine Daten vorhanden.</div>
{% endif%}

{% endblock %}
